:root {
    --espacio-entre-divs: 3em;
    --tamanio-de-letras-h2: 2em;
    --tamanio-de-letras-h3: 6rem;
    --tamanio-de-letras-estandar: 2.5em;
    --bold: 600;
    --extra-bold: 900;
}

.contenedor-principal-nosotros{
    position: relative;
    width: 90%;
    margin: 0px auto;
    font-family: 'Raleway', sans-serif;
    font-size: var(--tamanio-de-letras-estandar);
    
}
.contenedor-principal-nosotros>h2{
    font-size: var(--tamanio-de-letras-h2);
    font-weight: var(--extra-bold);
}

.contenedor-codo-viajero{
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto ;
    margin-right: 0px;
}

.contenedor-codo-viajero .imagen-codo-viajero{
    width: 30em;
    z-index: 1;  
}
.contenedor-codo-viajero .imagen-codo-viajero>img{
    border-radius: 2%;
}

.contenedor-codo-viajero .texto-codo-viajero{
    width: 30em;
    text-shadow: 2px 2px 5px rgb(11 6 6 / 62%);
    margin-left: -4em;
    margin-top: 8em;
    color: white;
    z-index: 2;  
}

.contenedor-codo-viajero .texto-codo-viajero>h3{
    font-size: var(--tamanio-de-letras-h3);
    font-weight: var(--extra-bold);
}

.contenedor-codo-viajero .texto-codo-viajero>p{
    margin-right: 0px;
    padding-left: 1em;
    font-weight: var(--bold);
} 

.contenedor-codo-viajero::before{
    position: absolute;
    content: " ";

    display: block;
    background-color: #bdc0c3;

    width: 100%;
    height: 60%;
    bottom: 0px;
    left: 0px;
    z-index: 0;    

}

.grid-container {
    color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1px;
    box-sizing:border-box;
    border-radius: 5%;
    width: 100%;
    min-height: 500px;
    margin: 0 auto;

}
.grid-container>div>h3,
.grid-container>div>p{
    z-index: 2;
    margin: 1em 1em 2em 1em;
    text-align: left;
    word-wrap: break-word;
}

.grid-container>div>h3{
    font-weight: var(--extra-bold);
    margin-left: 0.5em;
    font-size: 3rem;
    font-weight: var(--extra-bold);
    line-height: 1.2;
    border-bottom: solid red 3px;
}

.cell-2-2{
    grid-column: span 3;
    grid-row: span 2;
}

.cell-2-1{
    grid-column: span 2;
    grid-row: span 1;
}

.imagen-grande::before {
    position: absolute;
    content: "";
    display: block;
    background-color: rgb(34 26 60 / 47%);
    background-size: 100%;
    width: 100%;
    height: 70%;
    z-index: 1;    
}

.imagen-grande{
    text-shadow: 2px 2px 5px rgb(11 6 6 / 62%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-texto{
    color: black;
    text-shadow: none;
}

.contenedor-iconos{
    margin: 4em auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4em;
    justify-items: center;
}

.contenedor-iconos>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 50%;
}
.contenedor-iconos>div>span{
    text-align: center;
    font-weight: var(--bold);
}
.contenedor-suscripcion{

    margin: 4em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-suscripcion>form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    align-items: center;
}
.contenedor-suscripcion>form>label{
    display: none;
}

.contenedor-suscripcion>form>button{
    background-color: #ff0e0ece;
    color: #FFF;
    text-transform: uppercase;
    display: block;
    font-weight: var(--extra-bold);
    padding: 1rem;
    text-align: center;
    border: none;
}
.contenedor-suscripcion>form>button:hover{
    background-color: #fc4949b4;
}

.img-estilo{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}