:root {
    --espacio-entre-divs: 3em;
    --tamanio-de-letras-h2: 2em;
    --tamanio-de-letras-h3: 6rem;
    --tamanio-de-letras-estandar: 2.5em;
    --bold: 600;
    --extra-bold: 900;
}

.contenedor-principal-nosotros{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-size: var(--tamanio-de-letras-estandar);
    width: 90%;
    margin: auto;
    
}
.contenedor-principal-nosotros>h2{
    font-size: var(--tamanio-de-letras-h2);
    font-weight: var(--extra-bold);
}

/* codoViajero nuestra mision  */
.contenedor-codo-viajero{
    width: 100%;
    position: relative;

    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-content: center;
    align-items: center;
    margin: 2em auto ;
}

.contenedor-codo-viajero .imagen-codo-viajero{
    grid-column: 1/4;
    z-index: 1;  
}

.contenedor-codo-viajero .imagen-codo-viajero>img{
    border-radius: 2%;
}

.contenedor-codo-viajero .texto-codo-viajero{
    font-weight: var(--bold);

    word-wrap: break-word;
    white-space: normal;
    grid-column: 4/7;
    text-shadow: 2px 2px 5px rgb(11 6 6 / 62%);
    margin-left: -4em;
    color: white;
    z-index: 2;  
}

.contenedor-codo-viajero::before{
    position: absolute;
    content: " ";
    display: block;
    width: 100%;
    background-color: #bdc0c3;
    height: 80%;
    z-index: 0;    
}
    
.contenedor-codo-viajero .texto-codo-viajero>h3{
    font-size: var(--tamanio-de-letras-h3);
    font-weight: var(--extra-bold);
}

.contenedor-codo-viajero .texto-codo-viajero>p{
    padding-left: 1em;
} 

.contenedor-iconos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    padding-bottom: 2em;
    gap: 4em;
}

.contenedor-iconos>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 1em;
    width: 50%;
}
.contenedor-iconos>div>span{
    text-align: center;
    font-weight: var(--bold);
}


.grid-container {
    color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1px;
    width: 100%;
    margin: 0 auto;

}
.grid-container>div>h3,
.grid-container>div>p{
    margin: 1em 1em 2em 1em;
    text-align: left;
    word-wrap: break-word;
    z-index: 2;
}

.grid-container>div>h3{
    font-weight: var(--extra-bold);
    margin-left: 0.5em;
    font-size: 3rem;
    font-weight: var(--extra-bold);
    line-height: 1.2;
}

.grid-container .imagen-grande::before {
    position: absolute;
    content: "";
    display: block;
    background-color: rgb(34 26 60 / 47%);
    background-size: 100%;
    width: 100%;
    height: 70%;
    z-index: 1;    
}

.grid-container .imagen-grande{
    text-shadow: 2px 2px 5px rgb(11 6 6 / 62%);
    display: flex;
    flex-direction: column;
    justify-content: center;

    grid-column: span 3;
    grid-row: span 2;
}

.grid-container .card-texto{
    color: black;
    text-shadow: none;
    grid-column: span 2;
    grid-row: span 1;

}

.grid-container .img-estilo{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenedor-suscripcion{
    display: flex;
    margin: 4em auto;
    flex-direction: column;
    align-items: center;
}

.contenedor-form-suscripcion{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.contenedor-form-suscripcion input {
    grid-column: span 2;
}

.contenedor-form-suscripcion button{
    grid-column: span 1;
}

.contenedor-suscripcion>form>label{
    display: none;
}

.contenedor-suscripcion>form button{
    background-color: #ff0e0ece;
    color: #FFF;
    font-weight: var(--extra-bold);
    padding: 1rem;
    text-align: center;
    border: none;
}
.contenedor-suscripcion>form>button:hover{
    background-color: #fc4949b4;
}

@media (max-width: 1225px) {
    .contenedor-iconos{
        gap: 2em;
    }
}

@media (max-width: 1025px) {
    :root{
        --tamanio-de-letras-h3: 3em;
        --tamanio-de-letras-estandar: 2em;
    }
    .contenedor-codo-viajero .imagen-codo-viajero{
        grid-column: 1/4;
    }
    
    .contenedor-codo-viajero .texto-codo-viajero{
        margin-top: 0px;
        grid-column: 4/7;
    }
    .contenedor-codo-viajero::before{
        height: 80%;
        bottom: auto;
        margin: auto;
    }

    .contenedor-iconos{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 30%;
    }
    .contenedor-iconos>div{
        width: 40%;
    }
    
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .grid-container .imagen-grande{
        grid-column: span 2;
    }
    .grid.container .card-texto{
        grid-column: span 1;
        grid-row: span 1;
    }
    .img-estilo{
        grid-column: span 1;
        grid-row: span 1;

        border: red solid 2px;
    }
    .card-texto{
        grid-column: span 1;
        grid-row: span 1;
    
    }
    
}

@media (max-width: 767px) {
    :root{
        --tamanio-de-letras-h3: 2.2em;
        --tamanio-de-letras-estandar: 1.8em;
    }
    .contenedor-iconos>div{
        font-size: 0.8em;
    }
    }