:root {
    --blanco: #FFF;
    --negro: #111111;
    --gris: #343A40;
    --fuentePrincipal: 'Raleway', sans-serif;
}
html {
    font-size: 62.5%; /* 1rem = 10px */
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
}
h1, h2, h3 {
    font-weight: 900;
    line-height: 1.2;
    margin: 1rem 0 4rem 0;
}

h1{
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

/* Header */
.header {
    min-height: 60rem;
    background-image: url(../img/PuenteDeLaMujer.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
    padding: 5rem 0;
}
.contenido-header {
    display: flex;
    flex-direction: column;
    height: calc(60rem - 4rem);
    justify-content: space-between;
    color: var(--blanco);
}
.nombre-sitio {
    font-weight: 300;
    text-align: center;
    font-size: 3rem;
}

@media (min-width: 768px) { 
    .nombre-sitio {
        font-size: 5rem;
    }
}

.nombre-sitio span {
    font-weight: 900;
}

@media (min-width: 768px) { 
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) { 
    .contacto {
        align-items: flex-end;
    }
}
.telefono {
    display: flex;
}
.telefono::before {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    background-image: url(../img/telefono.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 1rem;
}

.header a {
    color: var(--blanco);
    font-size: 2rem;
}

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}
@media (min-width: 768px) { 
    .navegacion {
        flex-direction: row;
    }
}
.navegacion a {
    padding: .5rem;
    transition: background-color 300ms;
    width: 100%;
    text-align: center;
}
@media (min-width: 768px) { 
    .navegacion a {
        padding: 1rem 2rem;
    }
}
.navegacion a:hover {
    background-color: rgb( 255 255 255 / .5 );
    color: var(--negro);
}

.slogan {
    text-align: center;
}
@media (min-width: 768px) { 
    .slogan {
        text-align: right;
    }
}
.slogan h1 {
    font-size: 3rem;
    margin: 0;
}
@media (min-width: 768px) { 
    .slogan h1 {
        font-size: 5rem;
    }
}
.slogan p {
    margin: 0;
    line-height: 1;
}

/* Botones */
.btn {
    background-color: #ff0e0ece;
    display: block;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out ;
    text-align: center;
    border: none;
}
.btn:hover {
    background-color: #550303;
    cursor: pointer;
}


/* Paquetes */

.paquetes {
    padding-top: 5rem;
}

.paquetes__heading{
    text-align: center;
}

@media (min-width: 768px) {
    .paquetes__listado{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem;
    }
    .paquete:nth-child(1) {
        grid-column: 1 / 7;
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .paquete:nth-child(1) img {
        height: 43rem;
        width: 100%;
        object-fit: cover;
    }
    .paquete:nth-child(2) {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    .paquete:nth-child(2) img,
    .paquete:nth-child(3) img {
        height: 30rem;
        width: 100%;
        object-fit: cover;
    }
    .paquete:nth-child(3) {
        grid-column: 4 / 7;
        grid-row: 1 / 2;
    }
    .paquete:nth-child(4) {
        grid-column: 1 / 3;
    }
    .paquete:nth-child(5) {
        grid-column: 3 / 5;
    }
    .paquete:nth-child(6) {
        grid-column: 5 / 7;
    }
}

.paquete {
    background-color: var(--gris);
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.paquete img{
    height: 36.5%;
    width: 100%;
}



@media (min-width: 768px) {
    .paquete{
        margin-bottom: 0;
    }
    
}
.paquete:last-of-type{
    margin-bottom: 0;
}

.paquete__descripcion {
    text-align: center;
    color: #FFFFFF;
    padding: 2rem;
}
.paquete__descripcion h3 {
    margin: 0;
}
.paquete__descripcion p {
    margin: 0 0 .5rem 0;
    padding-top: 1rem;
}
.paquete__precio {
    font-size: 2.8rem;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

/* Galeria */

.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.galeria__heading{
    text-align: center;
    margin-top: 3rem;
}
@media (min-width: 768px) { 
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }
}
.galeria img {
    object-fit: cover;
    height: 100%;
}
.galeria .imagen:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
@media (min-width: 768px) { 
    .galeria .imagen:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }
}
.galeria .imagen:nth-child(3) {
    grid-row: 3 / 5;
    grid-column: 2 / 3;
}
@media (min-width: 768px) { 
    .galeria .imagen:nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

.galeria .imagen:nth-child(6) {
    grid-row: 2 / 4;
}
@media (min-width: 768px) { 
    .galeria .imagen:nth-child(6) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }
}
/* Footer */
.footer {
    height: 50rem;
    background-image: url(../img/footer2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    color: var(--blanco);
    
}
.footer a {
    color: var(--blanco);
    font-size: 2rem;  
}
.copyright {
    background-color: var(--negro);
    text-align: center;
    margin: 5rem 0 0 0;
    font-size: 2rem;
    padding: 1rem;
}


/* Preguntas Frecuentes */
.contenedor-acordeon{
    width: 100%;
    max-width: 80rem;
    margin: auto;
    margin-top: 8rem;
}

.contenedor-acordeon h2{
    text-align: center;
    margin-bottom: 3.5rem;
}

.acordeon label{
    display: block;
    padding: 2rem;
    font-size: 2rem;
    background: #1c1c1c;
    color: var(--blanco);
    cursor: pointer;
    margin-bottom: 0.2rem;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.acordeon label:hover{
    background: #2e2e2e;
}

.acordeon .contenido-acordeon{
    padding: 0;
    margin: 0 2rem;
    max-height: 0;
    overflow: hidden;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}
.btn-acordeon:checked ~ .contenido-acordeon{
    max-height: 600px;
    padding: 1.5rem 0;
}

.btn-acordeon{
    display: none;
}
